:root {
    --primary-color: #007bff;
    --background-color: #f7f7f7;
    --text-color: #333;
    --correct-color: green;
    --wrong-color: red;
    --button-padding: 10px;
    --button-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--background-color);
}

#quiz-container {
    width: 410px;
    background: white;
    border: 1px solid #ddd;
    border-radius: var(--button-radius);
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

#question {
    font-size: 1.2em;
}

#question-counter {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.btn {
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.btn:disabled {
    background-color: #cccccc;
}

.correct {
    background-color: var(--correct-color) !important;
}

.wrong {
    background-color: var(--wrong-color) !important;
}

@media (max-width: 600px) {
    #quiz-container {
        width: 90%;
        padding: 10px;
    }

    #question-counter {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #question {
        font-size: 1em;
    }

    .btn {
        padding: 8px;
        font-size: 0.9em;
    }
}

@media (max-width: 400px) {
    #quiz-container {
        width: 100%;
        padding: 5px;
    }

    #question-counter {
        font-size: 1em;
        margin-bottom: 5px;
    }

    #question {
        font-size: 1.1em;
    }

    .btn {
        padding: 5px;
        font-size: 1em;
    }
}
